.kunden-form {
    width: 100%;
    height: calc(100% - 3%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.schienenabschnitt-table-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    border-radius: var(--border-radius);
    background-color: var(--color-card);
    padding: 1rem 1.5rem;
}

.kunden-inputs-card {
    border-radius: var(--border-radius);
    background-color: var(--color-card);
    padding: 1rem 1.5rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.add-schienenabschnitt-button {
    font-size: 1rem;
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 4px 8px;
    outline: none;
    background-color: var(--color-surface);
    cursor: pointer;
}

.save-button {
    font-size: 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-success);
    cursor: pointer;
    color: var(--color-text-light);
}