/* SchienenabschnittTable.css */
/* Styles for the SchienenabschnittTable component */
.table-input {
    width: calc(100% - 1.5rem);
    background-color: rgba(var(--basic-element-background-color), 0.05); /* very light background */
    border: 1px solid rgba(var(--basic-element-background-color), 0.1);   /* subtle border */
    color: var(--color-text-primary);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin-left: 0.25rem;
    transition: all 0.2s ease;
    font-size: var(--font-size-medium);
}

.table-input:hover {
    border-color: rgba(var(--basic-element-background-color), 0.2);
}

.table-input:focus {
    background-color: rgba(var(--basic-element-background-color), 0.07);
    border-color: var(--color-accent-primary);
    outline: none;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.4);
}