/* BackButton.css */
/* Styles for the floating "X" back button in the top-right corner */
.back-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: var(--font-size-medium);
    cursor: pointer;
    color: var(--color-text-secondary);
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1;
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: var(--padding-button-small);
}

.back-button:hover {
    box-shadow: var(--box-shadow-hover);
}