.table-action-button {
    font-size: var(--font-size-medium);
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
}

.table-action-button:hover {
    box-shadow: var(--box-shadow-hover);
}

.button-cell {
    padding: 0 !important;
    width: fit-content;
    height: fit-content;
}
