:root {
    --color-bg: #242424;
    --color-surface: #2F2F2F;
    --color-surface-secondary: #404040;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #B0B0B0;
    --color-accent-primary: #4FC3F7;
    --color-success: #10b959;
    --color-border: #454545;
    --color-error: #EF5350;
    --color-warning: #FFCA28;
    --color-info: #29B6F6;
    --color-card: #242424;

    --box-shadow: rgba(255, 255, 255, 0.05) 0px 7px 29px 0px;
    --border-radius: 12px;

    --basic-element-background-color: 255, 255, 255;
    --color-text-light: #FFFFFF;
    --color-text-dark: #111827;

    --color-table-header-bg: #1d1d1d;
    --color-table-cell-uneven: #2F2F2F;
    --color-table-cell-even: #2a2a2a;
    --color-table-cell-hover: #3a3a3a;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text-primary);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    overflow: hidden;

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

    box-shadow: var(--box-shadow);
    background-color: var(--color-surface);
    margin: 5%;

    position: relative;
}

.component-content {
    padding: 3%;
    width: calc(100% - 6%);
    height: calc(100% - 3%);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0 0 1rem;
}

h2 {
    font-size: 1.8em;
    line-height: 1.1;
    margin: 0 0 1.5rem;
}

h3 {
    margin: 0 0 0.5rem;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #F9FAFB;
        --color-surface: #FFFFFF;
        --color-surface-secondary: #FBFBFB;
        --color-text-primary: #111827;
        --color-text-secondary: #6B7280;
        --color-accent-primary: #2563EB;
        --color-success: #10b959;
        --color-border: #E5E7EB;
        --color-error: #EF4444;
        --color-warning: #F59E0B;
        --color-info: #3B82F6;
        --color-card: #f5f7fa;

        --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        --basic-element-background-color: 128, 128, 128;

        --color-table-header-bg: #f0f0f0;
        --color-table-cell-uneven: #ffffff;
        --color-table-cell-even: #f9f9f9;
        --color-table-cell-hover: #eaeaea;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}